body {
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


}

#cabecera {
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    /* font-weight: bold;*/
    margin: 0;
    padding: 0.5em;
    font-size: 30px;
}

#cabecera #logo {
    width: 20px;


}

#cabecera #tagline {

    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

.container {
    width: 70%;
    text-align: left;
    margin: 0 auto;
    max-width: 995px;

}

.container h1 {

    font-size: 30px;
}

h1:hover {
    cursor: pointer;
    color: brown;
}

#post {
    background: white;
    padding: 20px;
    height: 80%;
}


.containImg {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0 5px 10px rgba(204, 204, 204, 0.37);
}

.img1>img {
    width: 150px;
}

.footer {
    height: 400px;
    text-align: center;
    background-color: #777;
    color: white;
    padding: 0.5em;

}